@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}
footer {
  height: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 30px;
}
.search {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search p {
  font-size: 40px;
}

.liste:hover {
  scale: 1.2;
  z-index: 5;
}
